Source: u-boot-am335x
Section: bootloader
Priority: extra
Maintainer: Bill Gatliff <bgat@billgatliff.com>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.3

Package: u-boot-am335x
Architecture: armhf armel
Depends: ${misc:Depends}
Description: Das U-Boot bootloader for AM335x-based targets
 This package is part of Pragmatux http://pragmatux.org
